/*styling for the elements*/

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 20vh 30vh 25vh 15vh 15vh;

}

img {
    height: 160px;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 10;
}

nav {
    color: white;
    background-color: #4B9CD3;
    grid-row: 1/2;
    grid-column: 1/5;
    height: 160px;
    z-index: 7;
}

.menubar {
    list-style: none;
    grid-row: 1/2;
    grid-column: 2/5;
    padding-top: 6em;
    padding-left: 24em;
}

.menuitem {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 2em;
}

.menuitem a {
    text-decoration: none;
    color: white;
}

.menuitem a:hover {
    color: lightblue;
}

.jumbotron {
    background: url(led_3.jpg) no-repeat center center fixed;
    background-size: cover;
    grid-row: 1/6;
    grid-column: 1/5;
    padding-top: 40vh;
    z-index: 6;

}

.box {
    display: inline-block;
    flex-wrap: nowrap;
    margin: 1em;
    padding: 1em;
    font-size: 75%;
    z-index: 7;
}

.welcome {
    width: 50%;
    /*    font-size: 150%%;*/
    color: white;
    background-color: #4B9CD3;
    opacity: 0.65;
    padding: 2em;
    margin-left: 20em;
}

.projects {
    color: #4B9CD3;
    background-color: #F0F8FF;
    width: 13em;
}

.shots {
    margin-left: 20vw;
}

.publications-page {
    grid-row: 2/6;
    grid-column: 1/5;
}

.publications {
    background: white;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.publications-intro {
    width: 56%;
    color: white;
    background-color: #4B9CD3;
    opacity: 0.65;
    padding: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publications-intro h1 {
    padding: 0;
}

.publication {
    margin-top: 10px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    border-spacing: border-box;
    border-bottom: 1px solid #13294B;
}

.publication h2 {
    color: #13294B;
}

.publication ul {
    list-style: none;
}

.publication > a {
    font-family: 'Roboto', sans-serif;
    color: #007FAE;
}
.slicknav_menu {
           display:none;
    }
footer {
    height: 100px;
    grid-column: 1/5;
    background-color: #13294B;
}

/* media query for mobile*/
@media only screen and (max-width: 960px) {
    body {
        display: flex;
        flex-wrap: wrap;
        background-color:#12294b;
    }

    nav {
        background: #13294B;
    }
    
    .slicknav_menu {
        background: #12294b;
           display:block;
    }
    
    .menubar {
        display:none;
    }

    .jumbotron {
        display: flex;
        flex-wrap:wrap;
        align-items:center;
        padding: 0;
        justify-content: center;
        
    }
    .welcome{
        margin:50px;
        width:inherit;
    }
    .shots {
    margin-left: 0;
    }

    .publications-page {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .publications-intro {
        width: 100%;
    }
    .publications {
        width: 100%;
    }
    .publication {
        width: 50%;
    }
    .publication h2 {
        width: 100%;
    }
}
