/*styling for the elements*/

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 20vh 30vh 25vh 15vh 15vh;

}

img {
    height: 160px;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 8;
    position:absolute;
}

nav {
    color: white;
    background-color: #4B9CD3;
    grid-row: 1/2;
    grid-column: 1/5;
    height: 160px;
    z-index: 7;
}

.menubar {
    list-style: none;
    grid-row: 1/2;
    grid-column: 2/5;
    padding-top: 6em;
    padding-left: 24em;
}

.menuitem {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 2em;
}

.menuitem a {
    text-decoration: none;
    color: white;
}

.menuitem a:hover {
    color: lightblue;
}

main{
margin:2em;
width:100vw;
z-index:20;
    background-color:white;
   
}
.jumbotron {
    background: url(led_3.jpg) no-repeat center center fixed;
    background-size: cover;
    grid-row: 1/6;
    grid-column: 1/5;
    padding-top: 40vh;
    z-index: 6;

}

.box {
    display: inline-block;
    flex-wrap: nowrap;
    margin: 1em;
    padding: 1em;
    font-size: 75%;
    z-index: 7;
}

.welcome {
    width: 50%;
    /*    font-size: 150%%;*/
    color: white;
    background-color: #4B9CD3;
    opacity: 0.65;
    padding: 2em;
    margin-left: 20em;
}

.projects {
    color: #4B9CD3;
    background-color: #F0F8FF;
    width: 13em;
}

.shots {
    margin-left: 20vw;
}

footer {
    height: 100px;
    align-self:flex-end;
    background-color: #13294B;
}
 .slicknav_nav{
        display:none;
    }
/* media query for mobile*/
@media only screen and (max-width: 960px) {
    img{
        margin-left:15em;
    }
    body {
        display: flex;
        flex-wrap: wrap;
        background-color:#12294b;
    }

    nav {
        background: #13294B;
      
    }
    
    .slicknav_menu {
        background: #12294b;
       
    }
    .slicknav_nav{
        height:auto;
        display:block;
    }
    
    .menubar {
        display:none;
    }

    .jumbotron {
        display: flex;
        flex-wrap:wrap;
        align-items:center;
        padding: 0;
        justify-content: center;
        
    }
    .welcome{
        margin:50px;
        width:inherit;
    }
    .shots {
    margin-left: 0;
}
    footer{
    align-self:flex-end;
    }
    main{
         margin-top:-300px;
       padding: 2em;
        margin:0;
    }
}
